<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>主页</title>
<script type="text/javascript" src="../../static/student/js/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="../../static/student/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../static/student/css/muke.css">
<script type="text/javascript" src="../../static/student/js/jquery.SuperSlide.2.1.1.js"></script>

    <script type="text/javascript" th:src="@{/student/js/jquery.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/student/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/student/css/muke.css}">
    <script type="text/javascript" th:src="@{/student/js/jquery.SuperSlide.2.1.1.js}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="backg_huibai">

<!-- 顶部 -->
<div  class="width100 float_l height490 img_backg1">
    <div class="width100 float_l height80 line_hei80">
        <!-- 顶部左边 -->
        <div class="float_l">
            <div class="float_l margin_l20">
                <a th:href="@{/student/indexaction}"><p>在线学习</p></a>
            </div>
            <div class="float_l">
                <ul class="ul_li fon_siz16">
                    <li><a th:href="@{/student/mycourse}">我的课程</a></li>

                </ul>
            </div>
        </div>

        <!-- 顶部右边 -->
        <div class="float_r">
            <div class="float_l top_input">
                <div>
                    <form method="post" action="/student/search">
                        <input class="posi_relative" type="text" name="c_name" id="c_name" placeholder="请输入想搜索的内容...">
                        <span class=" bianshou"><button type="submit" class="btn btn-primary">Go</button></span>
                    </form>


                </div>

            </div>
            <div class="float_l margin_l20">

            </div>

            <div class="float_l margin_l30 margin_r40">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="${session.s_username}"> <b class="caret"></b></a>

                    <ul class="dropdown-menu">

                        <li><a target="_blank" th:href="@{/student/info}">个人中心</a></li>
                        <li class="divider"></li>
                        <li><a target="_blank" th:href="@{/student/notice}">查看公告</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/student/logout}">退出登录</a></li>
                    </ul>
                </li>

            </div>

        </div>
    </div>
</div>

<!-- 轮播图 -->
<div class="width100 float_l margin_t-405 margin_b40">
	<div class="width_1200 margin_auto">
    	<div class="width100 float_l height460 posi_relative">
        	<div class="width100 float_l">
                <div class="focusBox">
                    <ul class="pic">
                        <li><a><img th:src="@{/student/img/uiz21.jpg}" /></a></li>
                        <li><a><img th:src="@{/student/img/uiz20.jpg}" /></a></li>
                    </ul>
                    <a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>
                    <ul class="hd">
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="width_224 float_l height460 posi_absolute backg_jqian padding_t5 bianshou">
            	<div class="width100 float_l tab_qiehuan ">
                	<div class="width100 float_l text_c height64 line_hei64 color_white bianhuabeijing backg_jqian padding_lr20">
                        <div class="width100 float_l text_l height64 line_hei64 color_white border_b_baise fon_siz16">
                            <span>前端开发</span>
                            <span class="float_r">></span>
                        </div>
                    </div>
                    <div class="width_700 float_l lunbofenlei dis_none img_backg15">
                    	<div class="width100 float_l padding40">
                        	<div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">分类目录</span>
                                <ul class="width100 ul_lis float_l">
                                	<li><a th:href="@{/student/search/(c_name=前端)}">前端总览</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                </ul>
                            </div>

                            <div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">推荐</span>
                                <ul class="width100 ul_lis float_l">
                                	<li class="width100 float_l margin_b15"><a>课程 | #</a></li>
									<li class="width100 float_l margin_b15"><a>课程 | #</a></li>
									<li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="width100 float_l tab_qiehuan">
                	<div class="width100 float_l text_c height64 line_hei64 color_white bianhuabeijing backg_jqian padding_lr20">
                        <div class="width100 float_l text_l height64 line_hei64 color_white border_b_baise fon_siz16">
                            <span>后端开发</span>
                            <span class="float_r">></span>
                        </div>
                    </div>
                    <div class="width_700 float_l lunbofenlei dis_none img_backg16">
                    	<div class="width100 float_l padding40">
                        	<div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">分类目录</span>
                                <ul class="width100 ul_lis float_l">
                                    <li><a th:href="@{/student/search/(c_name=后端)}">后端总览</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                </ul>
                            </div>

                            <div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">推荐</span>
                                <ul class="width100 ul_lis float_l">
                                	<li class="width100 float_l margin_b15"><a>课程 | #</a></li>
									<li class="width100 float_l margin_b15"><a>课程 | #</a></li>
									<li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="width100 float_l tab_qiehuan">
                	<div class="width100 float_l text_c height64 line_hei64 color_white bianhuabeijing backg_jqian padding_lr20">
                        <div class="width100 float_l text_l height64 line_hei64 color_white border_b_baise fon_siz16">
                            <span>移动开发</span>
                            <span class="float_r">></span>
                        </div>
                    </div>
                    <div class="width_700 float_l lunbofenlei dis_none img_backg17">
                    	<div class="width100 float_l padding40">
                        	<div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">分类目录</span>
                                <ul class="width100 ul_lis float_l">
                                    <li><a th:href="@{/student/search/(c_name=移动开发)}">移动开发总览</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                </ul>
                            </div>

                            <div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">推荐</span>
                                <ul class="width100 ul_lis float_l">
                                	<li class="width100 float_l margin_b15"><a>课程 | #</a></li>
									<li class="width100 float_l margin_b15"><a>课程 | #</a></li>
									<li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="width100 float_l tab_qiehuan">
                	<div class="width100 float_l text_c height64 line_hei64 color_white bianhuabeijing backg_jqian padding_lr20">
                        <div class="width100 float_l text_l height64 line_hei64 color_white border_b_baise fon_siz16">
                            <span>数据库</span>
                            <span class="float_r">></span>
                        </div>
                    </div>
                    <div class="width_700 float_l lunbofenlei dis_none img_backg18">
                    	<div class="width100 float_l padding40">
                        	<div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">分类目录</span>
                                <ul class="width100 ul_lis float_l">
                                    <li><a th:href="@{/student/search/(c_name=数据库)}">数据库总览</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                </ul>
                            </div>

                            <div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">推荐</span>
                                <ul class="width100 ul_lis float_l">
                                    <li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                    <li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                    <li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="width100 float_l tab_qiehuan">
                	<div class="width100 float_l text_c height64 line_hei64 color_white bianhuabeijing backg_jqian padding_lr20">
                        <div class="width100 float_l text_l height64 line_hei64 color_white border_b_baise fon_siz16">
                            <span>人工智能</span>
                            <span class=" float_r">></span>
                        </div>
                    </div>
                    <div class="width_700 float_l lunbofenlei dis_none img_backg16">
                    	<div class="width100 float_l padding40">
                        	<div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">分类目录</span>
                                <ul class="width100 ul_lis float_l">
                                    <li><a th:href="@{/student/search/(c_name=人工智能)}">人工智能总览</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                </ul>
                            </div>

                            <div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">推荐</span>
                                <ul class="width100 ul_lis float_l">
                                    <li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                    <li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                    <li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="width100 float_l tab_qiehuan">
                	<div class="width100 float_l text_c height64 line_hei64 color_white bianhuabeijing backg_jqian padding_lr20">
                        <div class="width100 float_l text_l height64 line_hei64 color_white border_b_baise fon_siz16">
                            <span>数学学习</span>
                            <span class="float_r">></span>
                        </div>
                    </div>
                    <div class="width_700 float_l lunbofenlei dis_none img_backg15">
                    	<div class="width100 float_l padding40">
                        	<div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">分类目录</span>
                                <ul class="width100 ul_lis float_l">
                                    <li><a th:href="@{/student/search/(c_name=数学)}">数学总览</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                </ul>
                            </div>

                            <div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">推荐</span>
                                <ul class="width100 ul_lis float_l">
                                    <li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                    <li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                    <li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="width100 float_l tab_qiehuan ">
                	<div class="width100 float_l text_c height64 line_hei64 color_white bianhuabeijing backg_jqian padding_lr20">
                        <div class="width100 float_l text_l height64 line_hei64 color_white border_b_baise fon_siz16">
                            <span>英语学习</span>
                            <span class="float_r">></span>
                        </div>
                    </div>
                    <div class="width_700 float_l lunbofenlei dis_none img_backg17">
                    	<div class="width100 float_l padding40">
                        	<div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">分类目录</span>
                                <ul class="width100 ul_lis float_l">
                                    <li><a th:href="@{/student/search/(c_name=英语)}">英语总览</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                    <li>/</li>
                                    <li><a>#</a></li>
                                </ul>
                            </div>

                            <div class="width100 float_l margin_b40">
                            	<span class="width100 color_shenred fon_siz16 float_l margin_b20">推荐</span>
                                <ul class="width100 ul_lis float_l">
                                    <li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                    <li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                    <li class="width100 float_l margin_b15"><a>课程 | #</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
	$('.tab_qiehuan').hover(function(){
         $(this).children(".bianhuabeijing").css("background-color","#8a8f93").next().css("display","block")
	},function(){
    	 $(this).children(".bianhuabeijing").css("background-color","#a9aaae").next().css("display","none")
	});
</script>

<script type="text/javascript">
	jQuery(".focusBox").slide({ mainCell:".pic",effect:"left", autoPlay:true, delayTime:500});
</script>

<!-- 实战推荐 -->
<div class="width100 float_l margin_b40">
    <div class="width_1200 margin_auto">

        <div class="width100 float_l margin_b20">
            <div class="float_l">
                <span class="fon_siz16">实战推荐</span>
            </div>
            <div class="float_r bianshou">
                <a th:href="@{/student/search/(c_name=实战)}"><span>更多></span></a>
            </div>
        </div>

        <div class="width100 float_l">
            <div th:each="sz : ${shizhan}">
                <div class="width_224 height172 float_l margin_r10 border_shadow jingguoxianshi over_pos bianshou">
                    <div class="width100 float_l img_100 z_inx_1">
                        <img th:src="${sz.c_img}">
                    </div>
                    <div class="img_backg2 donghua">
                        <span class="margin_t15 float_l " th:text="${sz.c_name}"></span>
                        <span class="float_l fon_siz12 line_hei16 color_gray margin_t5 posi_relative " th:text="${sz.c_info}"></span>
                    </div>
                    <div class="width100 float_l padding_lr20 height48 fon_siz12 line_hei48 z_inx_3 posi_relative backg_white">
                        <span class="float_l color_red" th:text="${sz.c_id}"></span>
                        <a target="_blank" th:href="@{/student/select/(c_id=${sz.c_id})}"><span class="float_r color_gray"><span>点击</span>进入学习</span></a>


                    </div>
                </div>
            </div>





        </div>

    </div>
</div>


<!-- 深入好课 -->
<div class="width100 float_l margin_b40">
	<div class="width_1200 margin_auto">

    	<div class="width100 float_l margin_b20">
        	<div class="float_l">
            	<span class="fon_siz16">深入好课</span>
            </div>
            <div class="float_r bianshou">
                <a th:href="@{/student/search/(c_name=深入)}"><span>更多></span></a>
            </div>
        </div>

        <div class="width100 float_l">
            <div th:each="shen : ${shenru}">
                <div class="width_224 height172 float_l margin_r10 border_shadow jingguoxianshi over_pos bianshou">
                    <div class="width100 float_l img_100 z_inx_1">
                        <img th:src="${shen.c_img}">
                    </div>
                    <div class="img_backg2 donghua">
                        <span class="margin_t15 float_l " th:text="${shen.c_name}"></span>
                        <span class="float_l fon_siz12 line_hei16 color_gray margin_t5 posi_relative " th:text="${shen.c_info}"></span>
                    </div>
                    <div class="width100 float_l padding_lr20 height48 fon_siz12 line_hei48 z_inx_3 posi_relative backg_white">
                        <span class="float_l color_red" th:text="${shen.c_id}"></span>
                        <a target="_blank" th:href="@{/student/select/(c_id=${shen.c_id})}"><span class="float_r color_gray"><span>点击</span>进入学习</span></a>

                    </div>
                </div>
            </div>





        </div>

    </div>
</div>

<script language="javascript" type="text/javascript" th:inline="javascript">
    $(document).ready(function(){
        var status = [[${status}]];
        //alert("还没有文件，快去添加吧")


        if(status){
            //alert("存在即合理")
            if(confirm("您没有选过该课程，确认添加")){
                alert("添加成功");
                var c_id = [[${c_id}]];
                window.location.href="/student/addcourse?c_id="+c_id;
                return true;
            }

            return false;

        }




    });

</script>


<!-- iOS 工程师 -->
<div class="width100 float_l padding_b45 backg_qiangray">
	<div class="width_1200 margin_auto">
    	<div class=" width_224 height364 float_l img_backg3 margin_r20">
        	<div class="width100 float_l padding_lr20 color_white fon_siz32 b_weight700 margin_t10">
            	<span>认真<br>学习</span>
            </div>
            <div class="width100 float_l padding_lr20 color_white fon_siz16 margin_t30 jiantoubianhua bianshou">
            	<span>学习方法<span class="margin_l5 wobianhua">></span></span>
            </div>
			<div class="width100 float_l padding_lr20 color_white fon_siz12 bianshou line_hei26 color_shenred wobeijingguos margin_t120">
            	<a>jQuery源码探索之旅</a>
                <a>高德开发者必由之路——JS API篇</a>
                <a>教你HTML5开发爱心鱼游戏</a>
            </div>
        </div>
        <div class="width_468 float_l margin_r20">
        	<div class=" width100 float_l height172 kaishimeiyou img_backg4 text-center line_hei172 margin_b20">
            	<span class="fon_siz20 color_white b_weight700">像搭积木一样的组件式开发</span>
            </div>
            <div class=" width100 float_l height172 kaishimeiyou img_backg9 text-center line_hei172 ">
            	<span class="fon_siz20 color_white b_weight700">web前端设计从入门到精通</span>
            </div>
        </div>
        <div class="width_468 float_l">
        	<div class=" width100 float_l height172 kaishimeiyou img_backg4 text-center line_hei172 margin_b20">
            	<span class="fon_siz20 color_white b_weight700">像搭积木一样的组件式开发</span>
            </div>
            <div class=" width100 float_l height172 kaishimeiyou img_backg9 text-center line_hei172 ">
            	<span class="fon_siz20 color_white b_weight700">web前端设计从入门到精通</span>
            </div>
        </div>
    </div>
</div>



<!-- 页脚 -->
<div class="width100 float_l padding_t30 height193">
	<div class="width_1200 margin_auto">
    	<div class="width100 float_l text_c margin_b30">

            <a class="img_backg6 posi_relative wexinmaxianshi" href="#"><i class="weixinweima dis_none"><img th:src="@{/student/img/公众号缩略图.png}" height="180px" width="180px"></i></a>

        </div>
        <div class="width100 float_l text_c yejiao color_gray">
            <a>山东女子学院数据科学与计算机学院16计科普本李玉160507140150</a>
            <!--a>企业合作</a>
            <a>人才招聘</a>
            <a>讲师招募</a>
            <a>联系我们</a>
            <a>意见反馈</a>
            <a>友情链接</a-->
    	</div>
        <div class="width100 float_l text_c border_t margin_t20 padding_t20 color_gray fon_siz12">
        	<span>© 2018年11月20日 runok.top  鲁ICP备18053490号</span>
        </div>
    </div>
</div>



</body>
</html>














