<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改考试信息</title>
    <link rel="stylesheet" href="../../static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="form-horizontal">
    <form action="/teacher/updatetestaction" method="post" >
        <fieldset>
            <div class="form-group"></div>
            <div class="form-group" style="display:none">
                <label class="col-sm-4 control-label inl">课程考试id号:</label>
                <div class="col-sm-4 input-group">
                    <input type="text"  th:value="${test.test_id}" name="test_id" style="display:none" class="form-control">
                    <input type="text"  th:value="${test.course_id}" name="c_id" style="display:none" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label inl">课程考试名称:</label>
                <div class="col-sm-4 input-group">
                    <input type="text" th:value="${test.test_name}" name="test_name" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label inl"></label>
                <button type="submit" class="btn btn-success col-sm-4 ">提交</button>
            </div>
        </fieldset>
    </form>

</div>
</body>
</html>